@import url("variables.css");
@import url("common.css");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--poppins-font);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.navbar {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo a {
    font-size: 60px;
    font-family: var(--inspiration-font);
    color: #fff;
}

.navbar-menu {
    display: flex;
    gap: 30px;
    transition: 0.5s all ease;
}

.navbar-menu li a {
    font-size: 24px;
    position: relative;
}

.navbar-menu li a.active,
.navbar-menu li a:hover {
    text-decoration: underline;
}

#cart-badge {
    background-color: red;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero Section */
.hero {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 100px;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero .hero-content-title {
    font-size: var(--title);
    line-height: 1;
}

.hero .hero-content-title span {
    font-weight: 400;
}

.hero .order-info-total {
    font-size: 40px;
    font-weight: 400;
}

.hero .order-info-total span {
    font-weight: 600;
}

.order-info-buttons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.order-info-buttons .quantity-selector {
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    width: 180px;
    height: 66px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-info-buttons .quantity-selector button {
    background-color: transparent;
    border: none;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    font-size: 32px;
    cursor: pointer;
}

.order-info-buttons .quantity-selector span {
    border-right: 1px solid var(--gray-color);
    border-left: 1px solid var(--gray-color);
    width: 50%;
    text-align: center;
}

.order-info-buttons .add-to-cart {
    background-color: #000;
    color: #fff;
    width: 261px;
    height: 75px;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    font-size: 24px;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

.order-info-buttons .add-to-cart .cart-icon {
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: var(--primary-color);
    width: 64px;
    height: 64px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-carousel {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 25px;
}

.food-carousel button {
    background-color: #fff;
    border-radius: 100px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 64px;
    height: 64px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.food-carousel button:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.food-carousel .food-items {
    display: flex;
    gap: 22px;
    width: calc(3 * 110px);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.food-carousel .food-items .food-item {
    width: 93px;
    height: 164px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

.food-carousel .food-item.selected {
    border: 1px solid var(--primary-color);
}

.food-carousel .food-item:nth-child(even) {
    background-color: #ddfcbf;
}

.food-carousel .food-item:nth-child(odd) {
    background-color: #ffe0f0;
}

.food-carousel .food-item img {
    border-radius: 100px;
    width: 85px;
    height: 85px;
}

.food-carousel .food-item .item-price {
    font-weight: 600;
}

.food-carousel .food-item .item-price .valute {
    font-weight: 400;
    color: var(--primary-color);
}

.hero-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero-image .hero-main-image {
    max-width: 700px;
    max-height: 700px;
    z-index: 50;
}

.hero-image .food-details {
    background-color: var(--primary-color);
    width: 330px;
    height: 250px;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.hero-image .food-details .food-title {
    color: #fff;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.hero-image .food-details .prepare-time {
    background-color: black;
    border-radius: 24px;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
}

.hero-bg {
    position: absolute;
    right: -50%;
    top: 0;
    transform: translateX(-50%);
    height: 100vh;
    border-radius: 50%;
    z-index: -1;
}

@media (max-width: 1700px) {
    .hero-bg {
        transform: translateX(-20%);
    }
}

@media (max-width: 1400px) {
    .hero {
        flex-direction: column-reverse;
        align-items: start;
    }
    .hero-bg {
        display: none;
    }

    .hero-image {
        flex-direction: row;
    }
}

/* Order steps Section */
.order-steps {
    text-align: center;
    padding: 100px 20px;
    background-color: var(--light-color);
}

.order-steps-container {
    display: flex;
    justify-content: center;
    gap: 37px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.order-step {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1;
    min-width: 200px;
    max-width: 400px;
    transition: 0.5s all ease;
    position: relative;
}
.order-step:hover {
    transform: translateY(-20px);
}

.order-step-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    opacity: 0.1;
    transition: 0.7s all ease;
}

.order-step:hover .order-step-icon {
    opacity: 0.3;
}

.order-step-title {
    font-size: 96px;
    font-family: var(--irish-font);
    margin: 10px 0;
}

.order-step-description {
    font-size: 14px;
    color: #777;
}

/* CTA section */
.cta-section {
    position: relative;
    text-align: center;
    background-image: url("../img/cta-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 75px 20px;
}

.cta-content {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 60px;
    border-radius: 20px;
    max-width: 690px;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.cta-description {
    font-size: 28px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 70px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 100px;
    font-size: 18px;
    transition: 0.3s all ease;
}

.cta-button:hover {
    box-shadow: 0 0 12px rgba(245, 129, 0, 1);
}

/* Statistics section */
.statistics-section {
    background-color: var(--light-color);
    padding: 60px 20px 130px 20px;
    text-align: center;
}

.statistics-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.stat-item {
    flex: 1 1 200px;
    max-width: 220px;
}

.stat-value {
    font-size: var(--title);
    font-family: var(--irish-font);
    font-weight: bold;
    color: #333;
}

.stat-description {
    color: #303030;
    font-size: 24px;
    margin-top: 10px;
}

/* About us Section */
.about-section {
    position: relative;
    text-align: center;
    background-image: url("../img/cta-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
}

.about-content {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 75px 150px;
    border-radius: 20px 170px;
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.about-description {
    font-size: 28px;
    margin-bottom: 30px;
}

/* Subscribe Section */
.subscribe-section {
    background-color: var(--primary-color);
    padding: 55px 20px 100px 20px;
    text-align: center;
    color: #fff;
}

.subscribe-form {
    margin: 22px auto 0;
    max-width: 540px;
}

.subscribe-form-inline {
    display: flex;
    gap: 20px;
}

.subscribe-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 250px;
    flex: 1;
}

.subscribe-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 22px;
    font-size: 24px;
}

.subscribe-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.subscribe-button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1;
}

.subscribe-button:hover {
    background-color: #333;
}

/* Contact Section */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 75px 20px;
    background-color: var(--light-color);
    text-align: left;
}

.contact-info {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.contact-info p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.map-container {
    flex: 2;
    max-width: 60%;
    height: 350px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Video section */
.video-section {
    background-color: var(--primary-color);
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

.video-description {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 16px;
    text-wrap: balance;
}

.video-section iframe {
    border: none;
    border-radius: 20px;
    width: 80%;
    aspect-ratio: 16 / 9;
}

/* Email us */

.email-section {
    background-color: var(--light-color);
    padding: 60px 20px;
}

.email-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    margin: 30px auto;
    gap: 20px;
}

.email-image img {
    width: 509px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.email-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.email-form input {
    height: 30px;
}

.email-form input,
.email-form textarea {
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.email-form button {
    border: none;
    border-radius: 100px;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 18px;
    color: #fff;
    transition: 0.3s all ease;
    cursor: pointer;
}

.email-form button:hover {
    background-color: orangered;
}

/* Testmonial Section */
.testimonial-section {
    padding: 60px 20px 150px;
    text-align: center;
    background-color: #fff;
}

.carousel-indicators {
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.carousel-indicators .dot {
    width: 10px;
    height: 10px;
    background-color: #fdbe77;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators .dot.active {
    border: 4px solid var(--primary-color);
    height: 12px;
    width: 12px;
}

.testimonial-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 50px;
}

.testimonial-carousel .carousel-arrow {
    background: none;
    border: none;
    font-size: 50px;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0px 15px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
    width: 100%;
}

/* First Card */
.testimonial-card-first {
    width: 330px;
    height: 350px;
    color: #fff;
    border-radius: 50px;
    position: relative;
    z-index: 10;
    padding: 20px;
}

.testimonial-card-first::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 350px;
    height: 350px;
    top: 0;
    left: 10px;
    z-index: -1;
    border-radius: 60px;
    transform: skew(-5deg, 11deg) translateY(10px) translateX(-10px);
}

.testimonial-card-first::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 350px;
    height: 350px;
    top: 0;
    left: 10px;
    z-index: -2;
    border-radius: 60px;
    transform: skew(-5deg, 21deg) translateY(10px) translateX(-10px);
}

.testimonial-card-first img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 100px;
    z-index: 10;
}

.testimonial-card-first .testimonial-name {
    font-size: 18px;
}

.testimonial-card-first .testimonial-role {
    font-size: 12px;
}

.testimonial-card-first .testimonial-quote {
    font-size: 20px;
    color: var(--primary-color);
}

.testimonial-card-first .testimonial-text {
    font-size: 12px;
}

/* Middle Card */
.testimonial-card-middle {
    width: 440px;
    height: 450px;
    color: #fff;
    border-radius: 50px;
    position: relative;
    z-index: 10;
    padding: 20px;
    perspective: 450px;
}

.testimonial-card-middle::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 450px;
    height: 450px;
    top: 0;
    left: -10px;
    z-index: -1;
    border-radius: 60px;
    transform-style: preserve-3d;
    transform: rotateX(20deg) rotateY(-10deg);
}

.testimonial-card-middle::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 450px;
    height: 450px;
    top: 0;
    left: 10px;
    z-index: -2;
    border-radius: 60px;
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(-15deg);
}

.testimonial-card-middle img {
    width: 150px;
    height: 150px;
    margin-top: -50px;
    border-radius: 100px;
    z-index: 10;
}

.testimonial-card-middle .testimonial-name {
    font-size: 24px;
}

.testimonial-card-middle .testimonial-role {
    font-size: 18px;
}

.testimonial-card-middle .testimonial-quote {
    font-size: 30px;
    color: var(--primary-color);
}

.testimonial-card-middle .testimonial-text {
    font-size: 18px;
}

/* Third Card */
.testimonial-card-third {
    width: 330px;
    height: 350px;
    color: #fff;
    border-radius: 50px;
    position: relative;
    z-index: 10;
    padding: 20px;
}

.testimonial-card-third::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 350px;
    height: 350px;
    top: 0;
    left: 10px;
    z-index: -1;
    border-radius: 60px;
    transform: skew(1deg, -11deg) translateY(10px) translateX(-10px);
}

.testimonial-card-third::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 350px;
    height: 350px;
    top: 0;
    left: 10px;
    z-index: -2;
    border-radius: 60px;
    transform: skew(5deg, -21deg) translateY(10px) translateX(-10px);
}

.testimonial-card-third img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 100px;
    z-index: 10;
}

.testimonial-card-third .testimonial-name {
    font-size: 18px;
}

.testimonial-card-third .testimonial-role {
    font-size: 12px;
}

.testimonial-card-third .testimonial-quote {
    font-size: 20px;
    color: var(--primary-color);
}

.testimonial-card-third .testimonial-text {
    font-size: 12px;
}

/* Footer section */
.footer-section{
    background-color: var(--light-color);
    padding: 40px 60px;
    text-align: center;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-left{
    text-align: left;
}

.footer-left h1{
    font-family: var(--inspiration-font);
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 500;
}

.footer-left h2{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin: 18px 0;
}

.footer-button .order-button{
    background-color: var(--primary-color);
    color: #000;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 100px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.footer-button .order-button:hover{
    background-color: orangered;
    color: #fff;
}

.footer-divider{
    border: 0;
    height: 1px;
    background-color: #999;
    margin: 30px 0;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    color: #555;
    font-size: 14px;
}

.footer-links a{
    margin: 0px 10px;
    color: #555;
    font-size: 14px;
    transition: 0.3s all ease;
}

.footer-links a:hover{
    color: var(--primary-color);
}
