.parent{
  background-color: blueviolet;
  border: 5px solid black;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.child{
  width: 400px;
  height: 400px;
  background-color: orangered;
  flex-grow: 1;
}