body {
    height: 200vh;
}

.title {
    /* position: absolute;
    bottom: 20px;
    right: 20px; */
    /* position: fixed; */
    position: sticky;
    top: 0px;
}

.parent {
    border: 5px solid black;
    width: 500px;
    height: 500px;
    position: relative;
}

.child {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
}


.emelemnt{
    position: sticky;
    top: 0;
}