h2{
  color: blue;
}

#titulli{
  color: brown;
}

.ngjyra{
  color: aqua;
}

.madhesia{
  font-size: 200px;
}

.prapavija{
  background-color: orange;
}

.box{
  width: 400px;
  background-color: white;
  padding: 10px;
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
}

.container{
  display: flex;
  gap: 50px;
  padding: 0 50px;
}

/* Ngjyrat ne css */
/* Llojet e sistemeve te ngjyrave */
/* Red Green Blue */
body{
  /* background-color: rgb(125,5,155); - red green blue */
  background: linear-gradient(102deg,rgba(33, 253, 29, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%);
}